* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%
	font: inherit;
	box-sizing: border-box;
}

body {
	/*font-size: 1em;*/
}

ul {
	list-style: none;
}

/*Shared Classes*/


.text-center {
	text-align: center;
}

.side-padding {
	padding-left: 2em;
	padding-right: 2em;
}

.content-width {
	max-width: 38em;
	margin-left: auto;
	margin-right: auto;
}


/*Header*/

.masthead {
	padding: 5em 0;

	background-image: url(../images/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 35%;
	min-width: 100%;
	overflow: auto;
}

.header-name {
	font-family: Lora;
	font-size: 6em;
	font-weight: 700;
	text-shadow: 3px 3px 0px rgba(194, 216, 210, 0.5);
}

.header-job-title {
	margin-top: -1.5em;
	margin-left: 5em;
	font-family: Lora;
	font-size: 2em;
	font-weight: 400;
	text-shadow: 3px 3px 3px rgba(194, 216, 210, 0.5);

}