* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%
	font: inherit;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans Condensed';
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

/*Shared Classes*/


.text-center {
	text-align: center;
}

.side-padding {
	padding-left: 2em;
	padding-right: 2em;
}

.content-width {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}


/*Header*/


.masthead {
	padding: 5em 0;

	background-image: url(../images/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 35%;
	min-width: 100%;
	overflow: auto;
}

.header-name {
	font-family: Lora;
	font-size: 6em;
	font-weight: 700;
	text-shadow: 3px 3px 0px rgba(194, 216, 210, 0.5);
}

.header-job-title {
	margin-top: -1.5em;
	margin-left: 5em;
	font-family: Lora;
	font-size: 2em;
	font-weight: 400;
	text-shadow: 3px 3px 3px rgba(194, 216, 210, 0.5);
}


/*About Me*/


.about-me-section {
	margin-top: 5em;
}

.about-me-section h2 {
	font-weight: 600;
	font-size: 2em;
	text-transform: uppercase;
}

.about-me-section p {
	padding-top: 1em;
	font-size: 1.25em;
	text-spacing: 0.2em; 
}


/*Horizontal Rule*/


hr.custom-rule { 
  margin-top: 5em;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
} 


/*Projects Section*/


.projects {
	margin-top: 5em;
}

.projects > h2 {
	font-weight: 600;
	font-size: 2em;
	text-transform: uppercase;
}

.projects .container {
	margin-top: 4em;
}

.projects  ul {
	margin: 0;
	padding: 0;
}

.projects ul > li {
	display: inline-block;
	width: 30%;
	margin: 0;
  	padding: 0;
  	vertical-align: top;
}

.projects .caption {
	padding-top: 0.75em;
}


/*Footer Section*/


.social {
	margin-top: 5em;
  	padding: 4em 0;
  	text-align: center;
	background-color: rgb(113, 89, 67);
}

.social > p {
	text-spacing: 0.5em;
	font-size: 1.3em;
	color: white;
}

.social .icons > li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;
}

.social .icons > li:hover {
    cursor: pointer;
}
.social .twitter > a {
    color: rgb(194, 216, 210); 
}
.social .github > a {
    color: rgb(194, 216, 210);
}
.social .codepen > a {
    color: rgb(194, 216, 210);
}
